#dealer_logo {
    height: 50%;
    width: 50%;
}
.header_table {
    padding-left: 10%;
    padding-right: 10%;
}
#main_title {
    text-align: center;
}
#logo_cell {
    width: 20%;
}
#title_cell {
    width: 20%;
}
.center {
    margin-right: auto;
    margin-left: auto;
  }
.navi_cell {
    width: 5%;
}
#main_body {
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    background-color: #d9fff6;
}
.navi_button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #9cc2ff;
}
.navi_button:hover {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #5c9aff;
}
#car_right{
    height: 50%;
    width: 50%;
}
#car_left{
    height: 50%;
    width: 50%;
}
.car_Prime{
    transform:scale(0.3);
    transform-origin:top left;
}
.car_button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}
#container {
    width: 400px;
    height: 100px;
    position: relative;
    background: transparent;
  }
  #mover {
    width: 400px;
    height: 100px;
    position: absolute;
    background: transparent;
  }